body{
    background: url(https://www.toptal.com/designers/subtlepatterns/uploads/oriental.png);
    color: black;
    text-align: center;
    font-size: 28px;
}

.game{
    color: black;
    background-color: white;
}